@tailwind base;
@tailwind components;
@tailwind utilities;



@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

#test .rbc-time-view {
  border:0px;

    .rbc-label {
      display: none;
    }
    .rbc-allday-cell {
      height: calc(100vh - 98px);
      max-height: unset;
    }
    .rbc-time-content {
      display: none;
    }

    .rbc-time-view {
    
    }
    /* .rbc-time-header {
      border-bottom: 1px lightgray solid
    } */
  }
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */ 
